<ul>
  {%-for item in include.collection-%}

  {%- if forloop.last -%}
  <li class="last">
    {%- else -%}
  <li>
    {%- endif -%}

    {%-if include.top-%}
    {% if forloop.first %}
    ((
    {% else %}
    (
    {% endif %}
    {%-endif-%}

    {%- if item.url -%}
    {%- if include.top -%}
    <a href="{{ item.url }}"><b>{{ item.title }}</b></a>
    {%- else -%}
    <a href="{{ item.url }}">{{ item.title }}</a>
    {%- endif -%}
    {%- else -%}
    {%- if include.top -%}
    <b>{{ item.title }}</b>
    {%- else -%}
    {{ item.title }}
    {%- endif -%}
    {%- endif -%}

    {%-if forloop.last and include.top == false-%}
    &nbsp)
    {%- endif -%}
  </li>

  {%-if item.post_list-%}
  {%
  include post_list.html
  category=item.post_list.category
  limit=item.post_list.limit
  show_more=item.post_list.show_more
  show_more_text=item.post_list.show_more_text
  show_more_url=item.post_list.show_more_url
  -%}

  {%-endif-%}

  {%-if item.entries-%}
  {% if forloop.last %}
  {%-include menu_item.html collection=item.entries top=false last=true-%}
  {% else %}
  {%-include menu_item.html collection=item.entries top=false-%}
  {% endif %}
  {%-endif-%}

  {%-endfor-%}

  {%-if include.last -%}
  )
  {%- endif %}
</ul>