body[a="dark"] {
    filter: invert(1)
}

body[a="dark"] img {
    filter: invert(1)
}

body[a="dark"] img.ioda {
    filter: invert(0)
}

body[a="dark"] .emoji {
    filter: invert(1)
}

body[a="dark"] iframe {
    filter: invert(1)
}

@media (prefers-color-scheme: dark) {
    body[a="auto"] {
        filter: invert(1)
    }

    body[a="auto"] img {
        filter: invert(1)
    }

    body[a="auto"] img.ioda {
        filter: invert(0)
    }

    body[a="auto"] .emoji {
        filter: invert(1)
    }

    body[a="auto"] iframe {
        filter: invert(1)
    }
}

html,
body {
    background: white
}

html {
    height: 100%;
    scroll-behavior: smooth
}

body {
    color: black;
    font-family: monospace;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    min-height: 100%;
    overflow-wrap: break-word
}

.post-meta {
    text-align: right
}

h2,
h3,
h4,
h5,
h6 {
    margin-top: 3rem
}

hr {
    margin: 2rem 0
}

p {
    margin: 1rem 0
}

li {
    margin: 0.4rem 0
}

*:target {
    background: yellow
}

.w {
    max-width: 640px;
    margin: 0 auto;
    padding: 4rem 2rem
}

hr {
    text-align: center;
    border: 0
}

hr:before {
    content: "/////"
}

hr:after {
    content: attr(data-content) "/////"
}

table {
    width: 100%
}

table,
th,
td {
    border: thin solid black;
    border-collapse: collapse;
    padding: 0.4rem
}

code {
    color: white;
    background: black
}

div.highlighter-rouge code {
    display: block;
    overflow-x: auto;
    white-space: pre-wrap;
    padding: 1rem
}

blockquote {
    font-style: italic;
    border: thin solid black;
    padding: 1rem
}

blockquote p {
    margin: 0
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto
}

/* Rouge copy pasted bw theme */

.highlight table td {
    padding: 5px;
}

.highlight table pre {
    margin: 0;
}

.highlight,
.highlight .w {
    color: #000000;
    background-color: #ffffff;
}

.highlight .c,
.highlight .ch,
.highlight .cd,
.highlight .cm,
.highlight .cpf,
.highlight .c1,
.highlight .cs {
    font-style: italic;
}

.highlight .cp {}

.highlight .k,
.highlight .kc,
.highlight .kd,
.highlight .kn,
.highlight .kr,
.highlight .kv {
    font-weight: bold;
}

.highlight .kp {}

.highlight .kt {}

.highlight .o,
.highlight .ow {
    font-weight: bold;
}

.highlight .nc {
    font-weight: bold;
}

.highlight .nn {
    font-weight: bold;
}

.highlight .ne {
    font-weight: bold;
}

.highlight .ni {
    font-weight: bold;
}

.highlight .nt {
    font-weight: bold;
}

.highlight .s,
.highlight .sb,
.highlight .sc,
.highlight .dl,
.highlight .sd,
.highlight .s2,
.highlight .sh,
.highlight .sx,
.highlight .sr,
.highlight .s1,
.highlight .ss {
    font-style: italic;
}

.highlight .sa {
    font-weight: bold;
}

.highlight .si {
    font-weight: bold;
}

.highlight .se {
    font-weight: bold;
}

.highlight .gh {
    font-weight: bold;
}

.highlight .gu {
    font-weight: bold;
}

.highlight .ge {
    font-style: italic;
}

.highlight .ges {
    font-weight: bold;
    font-style: italic;
}

.highlight .gs {
    font-weight: bold;
}

.highlight .gp {
    font-weight: bold;
}

.highlight .err {
    color: #FF0000;
}